.form-message {
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
  margin: 5px auto;
  width: 85%;
}

.form-row {
  height: 100%;
  white-space: normal;
  width: 100%;
}

.form-redact {
  align-items: center;
  display: flex;
  white-space: normal;
  width: 100%;
}

.text {
  color: #425664;
  font-size: 15px;
}

.text-user-name {
  color: #1181b2;
  font-size: 16px;
}

.text-time {
  color: #929d9e;
  font-size: 13px;
}

.spacer {
  flex: 1 1 auto;
}