.chat-form {
    margin-top: 40px;
    width: 600px;
    background-color: #F7F7F7;
}

.chat-form-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkgray;
    margin: 0;
}

.chat-form-messages {
    height: 500px;
    overflow: scroll;
    flex-direction: column;
    margin: 0;
}

.chat-form-send-message {
    display: flex;
    padding: 0 15px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid darkgray;
}

.chat-form-header .text {
    font-size: 18px;
}

.area-input-message {
    width: 90%;
}

.spacer {
    flex: 1 1 auto;
  }